@model ConsumoAPI.Models.Post
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post</h2>

Id: @Model.Id
<br />
UserId: @Model.UserId
<br />
Title: @Model.Title
<br />
Body: @Model.Body

